# Byte-compiled / optimized / DLL files

**pycache**/
_.py[cod]
_$py.class

# Installer logs

pip-log.txt
pip-delete-this-directory.txt

# Flask stuff:

instance/
.webassets-cache

**pypackages**/
.vs/
.vs
\*.pyc

# Environments

.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env

.vscode/
.pytest_cache/
.vercel/
.DS_Store
.mypy_cache/
not_full_courses.json
.vercel
.coverage
htmlcov/
tests/
licenses/
.coveragerc
.flake8
CODINGGUIDE.md
.pylintrc
coverage_report
gunicorn_run
offline_run.ps1
run.ps1
run.sh
offline_run.sh
.github/
.git/
.gitignore
mongo-backup/
mongo-backup.zip
.mypy_cache/
.pytest_cache/
.vscode/
package-lock.json
package.json
node_modules/
tests/data/~$valid_students.xlsx
temp/
temp/modules.xlsx
README.md
*-docker-compose.yml
