<!DOCTYPE html>
<meta name="description" content="A platform for better tutorials.">
<html lang="en"
      data-bs-theme="{% if session['theme'] == 'dark' %}dark{% else %}light{% endif %}">
      <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Better Tutorials</title>
            <!-- tailwind -->
            <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
            <!-- Daisy UI -->
            <link href="https://cdn.jsdelivr.net/npm/daisyui@5"
                  rel="stylesheet"
                  type="text/css" />
            <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
            <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
                  rel="stylesheet"
                  type="text/css" />
            <!-- jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <!-- Selectize JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
                    integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk="
                    crossorigin="anonymous"></script>
            <!-- Selectize CSS -->
      </head>
      <body>
            {% include "navbar.html" %}
            <main class="content">
                  {% block content %}
                        Hello
                  {% endblock content %}
            </main>
      </body>
</html>
