<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta name="description"
                  content="Better Tutorials - Learn and grow with the best tutorials available online." />
            <meta name="keywords"
                  content="tutorials, learning, education, coding, programming" />
            <title>Better Tutorials</title>
            <!-- tailwind -->
            <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
            <!-- Daisy UI -->
            <link href="https://cdn.jsdelivr.net/npm/daisyui@5"
                  rel="stylesheet"
                  type="text/css" />
            <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
            <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
                  rel="stylesheet"
                  type="text/css" />
            <!-- jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <!-- Selectize JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
                    integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
                    crossorigin="anonymous"
                    referrerpolicy="no-referrer"></script>
            <!-- Selectize CSS -->
            <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
                  integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
                  crossorigin="anonymous"
                  referrerpolicy="no-referrer" />
            <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css"
                  rel="stylesheet">
      </head>
      <body>
            {% include "navbar.html" %}
            <div class="pt-1"></div>
            <main class="content">
                  {% block content %}
                        Hello
                  {% endblock content %}
            </main>
      </body>
</html>
