{% extends "base.html" %}
{% block content %}
    <div class="card bg-base-100 max-w-96 shadow-sm px-4 py-4 mx-auto">
        <div class="card-body login-card">
            <h1 class="center card-title">Log In</h1>
            <form class="login_form" name="login_form">
                <div class="center mb-4">
                    student
                    <input type="checkbox"
                           id="isProf"
                           class="toggle border-indigo-600 bg-indigo-500 checked:border-orange-500 checked:bg-orange-400 checked:text-orange-800 mx-2" />
                    professor
                </div>
                <label for="email" class="label">Email</label>
                <input id="email"
                       type="email"
                       name="email"
                       class="field input validator"
                       placeholder="mail@site.com"
                       autocomplete="email"
                       required />
                <div class="validator-hint">Enter valid email address</div>
                <div class="password-container">
                    <label for="password" class="label">Password</label>
                    <input id="password"
                           type="password"
                           name="password"
                           class="field input"
                           placeholder="Password"
                           autocomplete="password"
                           required />
                </div>
                <p class="error error--hidden"></p>
                <input type="submit" value="Log In" class="btn btn-primary" id="submit" />
            </form>
        </div>
        <script class="primary-student" src="/static/login/script.js"></script>
    </div>
{% endblock content %}
